<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Register a section handler for the log4net section -->
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
		<sectionGroup name="applicationSettings" type="Sysstuditem.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="_DIRECT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="BrokerScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="URLforDownload" value="http://localhost:52514/Deployment/Client" />
		<add key="URLRptDownload" value="http://localhost:52514/Deployment/Report" />
		<add key="Version" value=".:: FlexCustodian 6.04 On Apr-2011 ::." />
		<add key="Broker.IsDirect" value="Y" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="PrefixedCustodyCode" value="SHV" />
		<add key="AutoPTGuaranteeT0" value="N" />
		<!--<add key="CultureInfo" value="en-US"/>-->
		<add key="CultureInfo" value="vi-VN" />
		<add key="SystemMenuHideDefault" value="N" />
		<add key="CustomizeMenuHideDefault" value="N" />
		<add key="NumberDecimalSeparator" value="." />
		<add key="NumberGroupSeparator" value="," />
		<add key="PhoneCalllistening" value="N" />
		<add key="PhoneTimerListening" value="30000" />
		<add key="CustomerAge" value="16" />
		<!--Broker desk section-->
		<add key="AllocateGuaranteeT0" value="N" />
		<!--Market Status section-->
		<add key="AutoRefesh" value="Y" />
		<add key="MarketInfoIntervalMinutes" value="1" />
		<!--End market status section-->
		<!--Orders section-->
		<add key="AutoRefeshOrderList" value="Y" />
		<add key="UpdateOrderIntervalMinutes" value="0.025" />
		<add key="PPSEAsync" value="Y" />
		<add key="ShowMessageNotifyOrderSent" value="N" />
		<!--End orders section-->
		<!--Refesh PpSE-->
		<add key="RefeshPPSEWhenOrderAmountOver" value="Y" />
		<add key="AllocateFor3rdCustody" value="N" />
		<add key="INPUT_UNIT_PRICE" value="1000" />
		<!--End orders section-->
		<add key="KeepCustodyCodeAfterPlaceOrders" value="N" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHostServiceStreamed" maxReceivedMessageSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" />
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IHOSTRptService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="128" maxStringContentLength="65536000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IHOSTService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="125" maxStringContentLength="65536000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IHOAuthService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
					<readerQuotas maxDepth="125" maxStringContentLength="65536000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:52514/HOSTService/HOSTService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOSTService" contract="HOSTService.IHOSTService" name="WSHttpBinding_IHOSTService" />
			<endpoint address="http://localhost:52514/HOSTService/HOSTRptService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOSTRptService" contract="HOSTRptService.IHOSTRptService" name="WSHttpBinding_IHOSTRptService" />
			<endpoint address="http://localhost:52514/HOSTService/HOAuthService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOAuthService" contract="HOAuthService.IHOAuthService" name="WSHttpBinding_IHOAuthService" />
			<endpoint address="http://localhost:52514/HOSTService/HostServiceStreamed.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostServiceStreamed" contract="IHostServiceStreamed" name="BasicHttpBinding_IHostServiceStreamed" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<_DIRECT.My.MySettings>
			<setting name="FLEX_CUSTODY" serializeAs="String">
				<value>SHV</value>
			</setting>
		</_DIRECT.My.MySettings>
		<BrokerScreen.Properties.Settings>
			<setting name="CUSTODY_CODE_PREFIX" serializeAs="String">
				<value>SHVC</value>
			</setting>
			<setting name="COLOR_BUY" serializeAs="String">
				<value>#a7ccf0</value>
			</setting>
			<setting name="COLOR_SELL" serializeAs="String">
				<value>#f5c5d9</value>
			</setting>
		</BrokerScreen.Properties.Settings>
	</applicationSettings>
</configuration>