<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AuthorizationMode" value="NONE"/>
		<add key="AuthenticationTicket.Timeout" value="300"/>
		<add key="AuthenticationDomain" value=""/>
		<add key="@DIRECT_HOST.PRV" value="0"/>
		<add key="@DIRECT_HOST.DSN" value="192.168.18.219:1521/orcl.fsshcm.com"/>
		<add key="@DIRECT_HOST.UID" value="CBBONDACB"/>
		<add key="@DIRECT_HOST.PWD" value="HQ38dHBKgfQbNzPMDoNyWIYsa5BDPtkwc6Fjf2e4ohrCcIOOeGO8ihuvORnoOHiQEQ6muTZIjci43onOASLoGT7DV9Yf9GNgtwOiSkoJ2lKCQkTYakSb2m+kKZz1GqOLzuaPy5s+AvXIlk2qOGCt0CSDAiF56mc6RO9wl9BJHvEMQTv/L/yQmgVMxgnTqUvrA+ONki0sp5oKTZfjKTN6S1yF4wryLbKtGKSCsS0KQ9m50nc9maFk54/sK+wKfV1m9CEywP6ZH0NdOZc+8D5ncXdwbxAQYOw5xR+V44Tjo8W4LpTrhppaw5N4xd0e+RXhTihs6EJ/2AxSroKNjN6IhA=="/>
		<add key="@DIRECT_HOST.PWDK" value=""/>
		<add key="@DIRECT_HOST.IDB" value="DB219"/>
		<add key="@DIRECT_HOST.LANG" value="EN"/>
		<add key="@DIRECT_HOST.TRACE" value="Y"/>
		<add key="@DIRECT_HOST.MINPOOLSIZE" value="1"/>
		<add key="@DIRECT_HOST.MAXPOOLSIZE" value="20"/>
		<add key="@DIRECT_HOST.LIFETIME" value="10000"/>
		<add key="@DIRECT_REPORT.PRV" value="0"/>
		<add key="@DIRECT_REPORT.DSN" value="192.168.18.219:1521/orcl.fsshcm.com"/>
		<add key="@DIRECT_REPORT.UID" value="CBBONDACB"/>
		<add key="@DIRECT_REPORT.PWD" value="HQ38dHBKgfQbNzPMDoNyWIYsa5BDPtkwc6Fjf2e4ohrCcIOOeGO8ihuvORnoOHiQEQ6muTZIjci43onOASLoGT7DV9Yf9GNgtwOiSkoJ2lKCQkTYakSb2m+kKZz1GqOLzuaPy5s+AvXIlk2qOGCt0CSDAiF56mc6RO9wl9BJHvEMQTv/L/yQmgVMxgnTqUvrA+ONki0sp5oKTZfjKTN6S1yF4wryLbKtGKSCsS0KQ9m50nc9maFk54/sK+wKfV1m9CEywP6ZH0NdOZc+8D5ncXdwbxAQYOw5xR+V44Tjo8W4LpTrhppaw5N4xd0e+RXhTihs6EJ/2AxSroKNjN6IhA=="/>
		<add key="@DIRECT_REPORT.PWDK" value=""/>
		<add key="@DIRECT_REPORT.IDB" value="DB219"/>
		<add key="@DIRECT_REPORT.LANG" value="EN"/>
		<add key="@DIRECT_REPORT.TRACE" value="N"/>
		<add key="@DIRECT_REPORT.MINPOOLSIZE" value="1"/>
		<add key="@DIRECT_REPORT.MAXPOOLSIZE" value="20"/>
		<add key="@DIRECT_REPORT.LIFETIME" value="10000"/>
		<add key="LogCommandFilePath" value="C:\TEMP\HOST\"/>
		<add key="HOSTSRV.Cache" value="Y"/>
		<add key="TransactionScopeTimeOut" value="3000000"/>
		<add key="CheckSign" value="Y"/>
	</appSettings>
</configuration>