<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authentication mode="None" />
		<identity impersonate="false" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\HOSTService.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	</system.webServer>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100000" />
		</connectionManagement>
	</system.net>
</configuration>