<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="URLforDownload" value="http://localhost/Deployment/Client" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000"
            maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBDSRptService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000"
            maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBDSService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000"
            maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IHOAuthService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IHOSTRptService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IHOSTService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52512/BDSService/AuthService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
        contract="AuthService.IAuthService" name="WSHttpBinding_IAuthService" />
      <endpoint address="http://localhost:52512/BDSService/BDSRptService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBDSRptService"
        contract="BDSRptService.IBDSRptService" name="WSHttpBinding_IBDSRptService" />
      <endpoint address="http://localhost:52512/BDSService/BDSService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBDSService"
        contract="BDSService.IBDSService" name="WSHttpBinding_IBDSService" />
      <endpoint address="http://localhost:52514/HOSTService/HOAuthService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOAuthService"
        contract="HOAuthService.IHOAuthService" name="WSHttpBinding_IHOAuthService" />
      <endpoint address="http://localhost:52514/HOSTService/HOSTRptService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOSTRptService"
        contract="HOSTRptService.IHOSTRptService" name="WSHttpBinding_IHOSTRptService" />
      <endpoint address="http://localhost:52514/HOSTService/HOSTService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHOSTService"
        contract="HOSTService.IHOSTService" name="WSHttpBinding_IHOSTService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Core.v14.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.5" newVersion="14.1.5.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Grid.v14.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.5" newVersion="14.1.5.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v14.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.0" newVersion="14.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v14.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.0" newVersion="14.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v14.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.0" newVersion="14.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v14.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.5.0" newVersion="14.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>